.formFont{
    font-size: 17px;
 
}
.formFont2{
    font-size: 15px;
    font-weight: bold;
}
.btnU{
    background-color: #fff;
    color: #ed5f5e;
    padding: 5px 10px;
    font-size: 12px;
    letter-spacing: 2px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}
.btnU:hover{
    background-color: #ed5f5e;
    color: #fff;
}

#signIn #formSign input[id="firstNameSg"],input[id="lastNameSg"],input[id="emailSg"],input[id="passwdSg"],input[id="passwdSgCon"]{
    border: none;
    border-bottom: #000 solid 2px ;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    padding:10px 0px;
   
}
#logIn #formLog input[id="emailLog"],input[id="passwdLog"]{
    border: none;
    border-bottom: #000 solid 2px ;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    padding:10px 0px;
   
}
#logIn #formLog input[id="emailLog"]:focus,input[id="passwdLog"]:focus{
    border-bottom:#ed5f5e solid 2px ;
    outline: none;
}
#formCP input[id="postTitle"]{
    border: none;
    border-bottom: #000 solid 2px ;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    padding:10px 0px;
    font-weight: bold;
   
}
#formCP textarea{
    border: none;
    border-bottom: #000 solid 2px ;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    padding:10px 0px;
    height: 12rem;
    font-weight: bold;
   
}
#formCP textarea:focus{
    border-bottom:#ed5f5e solid 2px ;
    border-right:#ed5f5e solid 2px ;
    outline: none;
   
}
#formCP input[id="postTitle"]:focus{
    border-bottom:#ed5f5e solid 2px ;
    outline: none;
   
}
#signIn #formSign input[id="firstNameSg"]:focus,input[id="lastNameSg"]:focus,input[id="emailSg"]:focus,input[id="passwdSg"]:focus,input[id="passwdSgCon"]:focus{
    border-bottom:#ed5f5e solid 2px ;
    outline: none;
  
}

.borderR{
    border-bottom: 5px;
}
#linkLogIn:hover{
   border-bottom: 2px solid #ed5f5e;
   margin-bottom: 2px;
   font-weight: bold;
    
}
#signIn{
    padding: 0px 20px;
}
.heightCon{
    height:79%;
}
.marginTop{
    margin-top: 50px;
}
.widthCon{
    width:50%;
}

.fontS{
    font-size: 15px;
}

#dataUser{
    display: none;
}